#img{
	text-align:center;
}
#main ul{
	list-style-type: none;
	display: inline-block;
	text-align: right;
}
#main ul li{
	font-size: 18px;
	color: rgb(243,243,243);
}
#main a{
	text-decoration: none;
}
#membres{
	margin-top: 30px;
	width: 100%;
	text-align: center;
}