ul{
	list-style-type: none;	
	color:white;
}
ul li a{
	font-style: none;
	color:white;
}
img{
	position: absolute;
	float: left;
	left: 10%;
}
div#infos ul {
    padding: 0;
    margin:0;
}
div#infos {
    position: absolute;
    right: 30%;
    margin-top: 5%;
    border: solid #6F6F6F 1px;
    padding: 15px;
}
div#infos #lien {
    text-align: center;
    text-decoration: underline;
    background-color: );
}
