#main {
  margin-top: 4em;
}
#main h1{
	text-align: center;
	color:white;
}
div.sample{
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}
body{
	font-family: sans-serif;
	background-color: rgb(27,27,27);
}
#main{
	width: 100%;
	background-color: rgb(27,27,27);
	font-family: Georgia;
}
li{
	font-size: 14px;
	font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
	background-color: rgb(197,67,242);
}
nav.navbar.navbar-inverse.navbar-fixed-top {
	background-color: rgb(206,127,234);
}
nav.container li a{
	color: rgb(0,0,0);
}
.navbar-inverse .navbar-nav > li > a {
	color: black;
}
.navbar-header{
	color:black;	
}
.navbar-inverse .navbar-brand {
	color:black;
}
p{
	color:rgb(243,243,243);
	font-size: 18px;
}
bold{
	font-weight: bold;
	font-size: 16px;
}