#images img{
	margin: 1em;
}
#images{
	text-align: center;
}
#placage h4{
	color: rgb(243,243,243);
}
#placage{
	margin-right: 10%;
	margin-left: 0%;
	width: 100%;
}
aside ul{
	list-style: none;
	font-size: 24px;
	text-align: right;
}
aside a{
	text-decoration: none;
	color: rgb(222,222,222);
}
aside ul li{
	margin-top: 10px;
	margin-right: 20%;
	text-align: center;
}
aside { 
	position: fixed;
	height: 100%;
	width: 15%;
	top:0;
	right: 0;
	background-color: rgb(43,43,43);
	margin-top: 3em;
	border-top-left-radius: 10px;
	border-left: 2px solid rgb(53,53,53);
}
body{
	background-color: rgb(27,27,27);
	padding-right: 15%;
	margin-bottom: 0;
}
footer{
	background-color: rgb(43,43,43);
	border-top: 2px solid rgb(53,53,53);
	text-align: center;
	width:85%;
	position: absolute;
	left: 0;
}
footer a{
	text-decoration: none;
	color : rgb(243,243,243);
	font-size: 18px;
	margin:8px;
}