#lettres ul{
	list-style-type: none;
	background-color: rgb(43,43,43);
}
#lettres ul li{
	margin: 5px;
	font-size: 18px;
	display: inline;
}
#lettres{
    margin-left: 4%;
    margin-right: 3%;
	text-align: center;
}
#lettres ul li a{
	text-decoration: none;
	color: white;
}
#listes{
	margin-left: 5%;
  padding-left: 15;
  padding-right: 15;
}
}
#listes tr td{
	width: 10%;
	padding-bottom: 10px;
	text-align: justify;
}
#listes h4{
	color: rgb(242,243,243);
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
}
#listes h2{
	text-align: center;
	color: rgb(243,243,243);
	font-size: 36px;
	margin-bottom: 20px;
}
#main h2{
	text-align: center;
	color: rgb(243,243,243);
	font-size: 36px;
	margin-top:0;
	padding:0;
}
aside {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 2em;
  padding-top: 2em;
  font-size: 18px;
  background-color: rgb(206,127,234);
}
aside ul {
    list-style-type: none;
    padding-left: 7px;
    padding-right: 7px;
}
aside ul li{
    font-style: italic;
    font-weight: bold;
    font-family: Georgia;
    text-align: center;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li{
  padding-left: 2px;
  padding-right: 2px;
}
nav ul{
	padding:0;
}
table{
	width: 100%;
}
tr td {
    width: 25%;
}