{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<p>Notre site regroupe différentes catégories : musiques, à propros, et recherche.</p>
<p>La catégorie <bold>musiques</bold> vous permettra de trouver vos albums préférés, par artistes ou par genre, dans une grande liste possibilités.</p>
<p>La catégorie <bold>à propos</bold> vous permettra de trouver nos informations.</p>
<p>Quant à la catégorie <bold>Recherche</bold>, elle vous permettra de faire une rechercher personnelle.</p>
<p>Lorsque vous rencontrerez une image d'album, vous pourrez cliquer dessus pour avoir plus d'informations sur celui-ci.</p>
{% endblock %}

