<head>
<title>Recherche Musiques</title>
<link rel="stylesheet" type="text/css" href="/static/musiques.css">
<link rel="stylesheet" type="text/css" href="/static/slideshow.css">
</head>
{% extends "base.html" %}
{% block main %}
<h2> Artistes </h2>
<nav id="lettres">
	<ul>
		{% for char in premiersChar %}
		<li><a href="/music/{{ char }}/1"> {{ char }} </a></li>
		{% endfor %}
	</ul>
</nav>
<div align="center">
	<div class="contener_slideshow">
		<div class="contener_slide">
			<div class="slid_1">
				<img src="{{ images_dir }}{{ images[0][0] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dir }}{{ images[0][1] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dr }}{{ images[0][2] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
			</div>
			<div class="slid_2">
				<img src="{{ images_dir }}{{ images[1][0] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dir }}{{ images[1][1] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dir }}{{ images[1][2] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
			</div>
			<div class="slid_3">
				<img src="{{ images_dir }}{{ images[2][0] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dir }}{{ images[2][1] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
				<img src="{{ images_dir }}{{ images[2][2] }}" onerror="this.src='/static/missing.jpg'" height="180" width="180">
			</div>
		</div>
	</div>
</div>
<div id="listes">
	<h2> Genres </h2>
	{% for k in genres_keys %}
		{% if k == "1" %}
			<h4 id="{{ k }}"> Autres </h4>
		{% else %}
			<h4 id="{{ k }}">{{ k }}</h4>
		{% endif %}
		<table>
		{% set index = 0 %}
		{% for genre in genres[k] %}
			{% if index == 0 %}
				<tr>
			{% endif %}

				<td><a href="/musics/{{ genre }}/1"> {{ genre }}</a></td>
				{% set index = index + 1 %}
			{% if index == 4 %}
				{% set index = 0 %}
			{% endif %}
		{% endfor %}
		</table>
	{% endfor %}
</div>
<aside>
	<ul>
	{% for k in genres_keys %}
			<li><a href="#{{ k }}">{{ k }}</a></li>
	{% endfor %}
	</ul>
</aside>
{% endblock %}