<html>
<head>
<title>Musiques {{ premiereLettre }}</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/music.css">
<!--
	lettre => la lettre sur laquelle on a cliqué
	albums => une liste de tuples(image, album, groupe)
	artistes => liste des artistes pour la lettre cliquée
-->
{% extends "base.html" %}
{% block main %}
<h1>{{ premiereLettre }}</h1>
<aside>
	<ul>
		<li><a href="#titre"> Haut </a></li>
		{% for artiste in artistes %}
			<li><a href="#{{ artiste }}"> {{ artiste }} </a></li>
		{% endfor %}
	</ul>
</aside>
<article id="placage">
	<h1 id="titre">{{ titre }}</h1>
	<div id="images">
		{% for artiste in artistes %}
			<h4> {{ artiste }} </h4>
			<div id="{{ artiste }}">
			{% for album in albums %}
				{% if album[2] == artiste %}
					<!--<a href="https://www.youtube.com/results?search_query={{ artiste }} {{ album[1] }}">-->
					<a href="/musiques/{{ album [1] }}/{{ album[0] }}">
						<img src="{{ images_dir }}{{ album[0] }}" onerror="this.src='/static/missing.jpg'" width="200" height="200" title="{{ album[1] }}">
					</a>
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
	</div>
</article>
{% if max_pages > 1 %}
<footer>
	{% if precedente[1] %}
		<a href="/{{ dirNextPage }}/{{ titre }}/{{ precedente[0] }}"> << </a>
	{% endif %}

	{% for p in range(1,max_pages+1) %}
		<a href="/{{ dirNextPage }}/{{ titre }}/{{ p }}"> {{ p }} </a>
	{% endfor %}

	{% if nextpage %}
		<a href="/{{ dirNextPage }}/{{ titre }}/{{ page_suivante }}"> >> </a>
	{% endif %}
</footer>
{% endif %}
</html>
{% endblock %}
