<html>
<head>
<title>Musiques {{ premiereLettre }}</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/search.css">
{% extends "base.html" %}
{% block main %}
<h1> Recherche </h1>
<div id="recherche">
	<form action="/search" method="POST">
		<input type="text" name="motscles">
		<input type="submit" name="recherche" value="Rechercher"><br />
	<div id ="blanc">
		<input type="checkbox" name="1" value="Titre" checked>Titre
		<input type="checkbox" name="1" value="Artiste"checked>Artiste
		<input type="checkbox" name="1" value="Genre" checked>Genre
		<input type="checkbox" name="1" value="Annee" checked>Année
	</div>
	</form>
</div>
{% endblock %}